@model IEnumerable<OnlineFIRSystemP.Models.TblProvince>
<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-20">
            <div class="card-body">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>ProvinceId</th>
                            <th>Province</th>
                            <th>Status</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.ProvinceId
                                </td>
                                <td>
                                    @item.Province
                                </td>
                                @if (item.Status == 1)
                                {
                                    <td>
                                        Active
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        InActive
                                    </td>
                                }

                            </tr>
                        }


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
